.cta-stats {
	display: flex;
}

.cta-stats__icon {
	font-size: rem(65);
	height: 90px;
	line-height: 90px;
	text-align: center;
	flex: 1;
}

.cta-stats__item {
	padding: rem(15) rem(10) 0 0;
	flex: 1.5;
}

.cta-stats__item-text {
	text-transform: uppercase;
	line-height: 1.1;
	font-size: 12.5px;
}

.cta-stats__item-count {
	font-size: rem(40);
	line-height: 1;
}