// jquery ui dialog for geolocation prompt
[aria-describedby*="dialog-geolocation-prompt"] {
	background-color: #ffffff;
	font-size: rem(14);
	font-weight: bold;
	box-shadow: 0 0 rem(15) rgba(0,0,0,.25);
	position: fixed;
	padding: rem(15);
	border: 1px solid #d3dbe2;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	max-width: rem(480);
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%);
	width: calc(100% - 20px) !important;

	.ui-dialog-buttonset {
		text-align: right;
		[type="button"] {
			appearance: none;
		    //background-color: $action-color;
		    border: 0;
		    border-radius: 0;
		    color: #ffffff;
		    cursor: pointer;
		    display: inline-block;
		    font-family: $base-font-family;
		    font-size: $base-font-size;
		    -webkit-font-smoothing: antialiased;
		    font-weight: 600;
		    line-height: 1;
		    padding: $small-spacing $base-spacing;
		    text-decoration: none;
		    transition: background-color $base-duration $base-timing;
		    user-select: none;
		    vertical-align: middle;
		    white-space: nowrap;
		    height: 43px;
		    margin-left: 10px;
		    &:hover,
		    &:focus {
		      //background-color: shade($action-color, 20%);
		      color: #fff;
		      text-decoration: none;
		    }

		    &:disabled {
		      cursor: not-allowed;
		      opacity: 0.5;

		      &:hover {
		        //background-color: $action-color;
		      }
		    }
		}

		.button--primary {
		    @extend .button;
		    color: #ffffff;
		    text-transform: uppercase;
		    font-size: rem(15);
		    line-height: 18px;
		    background-color: $action-color;

		    &:hover, &:active, &:visited, &:focus {
		      color: #ffffff;
		      background-color: shade($action-color, 30%);
		      text-decoration: none;
		    }
		  }

		  .button--secondary {
		    @extend .button;
		    color: #ffffff;
		    text-transform: uppercase;
		    font-size: rem(15);
		    line-height: 18px;
		    background-color: $medium-gray;

		    &:hover, &:active, &:visited, &:focus {
		      color: #ffffff;
		      background-color: shade($medium-gray, 30%);
		      text-decoration: none;
		    }
		  }
	}
} 

.ui-widget-overlay {
	background-color: rgba(0,0,0,.25);
	position: fixed;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	z-index: 1 !important;
}