// Colors
//
// Collection of all approved colors to comply with branding.
//
// <ul class="swatches">
//     <li class="swatch">
//         <div style="background-color: #477dca;"></div>
//         <h5>Blue</h5>
//         <ul>
//           <li><strong>RGB</strong> <span>71, 125, 202</span></li>
//           <li><strong>CMYK</strong> <span>73, 47, 0, 0</span></li>
//           <li><strong>Hex</strong> <span>477dca</span></li>
//         </ul>
//     </li>
//     <li class="swatch">
//         <div style="background-color: #3c61a5;"></div>
//         <h5>Dark Blue</h5>
//         <ul>
//           <li><strong>RGB</strong> <span>60, 97, 165</span></li>
//           <li><strong>CMYK</strong> <span>84, 66, 5, 1</span></li>
//           <li><strong>Hex</strong> <span>3c61a5</span></li>
//         </ul>
//     </li>
//     <li class="swatch">
//         <div style="background-color: #252525;"></div>
//         <h5>Dark Gray</h5>
//         <ul>
//           <li><strong>RGB</strong> <span>37, 37, 37</span></li>
//           <li><strong>CMYK</strong> <span>71, 65, 64, 70</span></li>
//           <li><strong>Hex</strong> <span>252525</span></li>
//         </ul>
//     </li>
//     <li class="swatch">
//         <div style="background-color: #999;"></div>
//         <h5>Medium Gray</h5>
//         <ul>
//           <li><strong>RGB</strong> <span>153, 153, 153</span></li>
//           <li><strong>CMYK</strong> <span>43, 35, 1, 153</span></li>
//           <li><strong>Hex</strong> <span>999</span></li>
//         </ul>
//     </li>
//     <li class="swatch">
//         <div style="background-color: #f5f5f5;"></div>
//         <h5>Light Gray</h5>
//         <ul>
//           <li><strong>RGB</strong> <span>245, 245, 245</span></li>
//           <li><strong>CMYK</strong> <span>3, 2, 2, 0</span></li>
//           <li><strong>Hex</strong> <span>f5f5f5</span></li>
//         </ul>
//     </li>
// </ul>
//
// Styleguide Branding - Colors

$blue:            	#477dca;
$dark-blue:			#3c61a5;
$dark-gray:       	#252525;
$medium-gray:     	#999;
$light-gray:      	#f5f5f5;
$green: 			#58be86;
$gold: 				#efb505;
$orange:			#dd6739;
$red: 				#f23939;
