<div class="gsa-widget">
	<!-- Widget Header -->
	<header class="gsa-widget__header">
		<h2 class="gsa-widget__title no-margin">Construction Permitting</h2>
	</header>

	<!-- Common Permit Downloads -->
	<div class="panel">
		<header class="panel__header">
			<div class="filter push-right">
				<label for="filter-permits" class="visuallyhidden">Filter Common Permits</label>
				<span class="filter__icon gsa-icon-filter gsa-icon--lrg"></span>
				<select name="filter-permits" id="filter-permits" class="select-boxit">
					<option value="">Select One</option>
					<option value="residential">Residential</option>
					<option value="option-2">Option 2</option>
					<option value="option-3">Option 3</option>
				</select>
			</div>
			<h3 class="panel__title">Common Permits</h3>
		</header>
		<div class="panel__content">
			<ul class="file-downloads">
				<li class="file-downloads__item">
					<a href="#" target="_blank">
						<span class="file-downloads__icon">
							<span class="file-downloads__icon-text">Download</span>
							<span class="gsa-icon-download gsa-icon--lrg"></span>
						</span>
						Standard Residentail Review
					</a>
				</li>
				<li class="file-downloads__item">
					<a href="#" target="_blank">
						<span class="file-downloads__icon">
							<span class="file-downloads__icon-text">Download</span>
							<span class="gsa-icon-download gsa-icon--lrg"></span>
						</span>
						Standard Residential Review
					</a>
				</li>
				<li class="file-downloads__item">
					<a href="#" target="_blank">
						<span class="file-downloads__icon">
							<span class="file-downloads__icon-text">Download</span>
							<span class="gsa-icon-download gsa-icon--lrg"></span>
						</span>
						Residential Certified Review
					</a>
				</li>
				<li class="file-downloads__item">
					<a href="#" target="_blank">
						<span class="file-downloads__icon">
							<span class="file-downloads__icon-text">Download</span>
							<span class="gsa-icon-download gsa-icon--lrg"></span>
						</span>
						Residential Redi Review
					</a>
				</li>
				<li class="file-downloads__item">
					<a href="#" target="_blank">
						<span class="file-downloads__icon">
							<span class="file-downloads__icon-text">Download</span>
							<span class="gsa-icon-download gsa-icon--lrg"></span>
						</span>
						Existing Private Well and Wastewater (Septic) Systems
					</a>
				</li>
			</ul>
		</div>
		<div class="panel__foot text-right">
			<a href="#">View All Residential Permit Forms</a>
		</div>
	</div>

	<!-- Common Permit Stats -->
	<div class="panel panel--plain">
		<div class="panel__content panel__content--dark-blue">
			<div class="cta-stats">
				<span class="gsa-icon-hammer cta-stats__icon"></span>
				<div class="cta-stats__item">
					<div class="cta-stats__item-text">Building permits my neighborhood</div>
					<div class="cta-stats__item-count">5</div>
				</div>
				<div class="cta-stats__item">
					<div class="cta-stats__item-text">Building permits last 30 days</div>
					<div class="cta-stats__item-count">14</div>
				</div>
			</div>
		</div>
		<div class="panel__foot panel__foot--border-bottom text-right">
			<a href="" class=""><strong>View More Data at data.raleighnc.gov</strong> <span class="gsa-icon--sm gsa-icon-arrow-right gsa-icon--sm"></span></a>
		</div>
		<!-- Common Permits Chart -->
		<div class="panel__content panel__content--dark-blue">
			<div class="gsa-chart__title">Most Common Permits</div>
			<div id="chart-common-permits" class="gsa-chart gsa-chart--short"></div>
		</div>
		<div class="panel__foot text-right">
			<a href="" class=""><strong>View More Data at data.raleighnc.gov</strong> <span class="gsa-icon--sm gsa-icon-arrow-right gsa-icon--sm"></span></a>
		</div>
	</div>

    <!-- Quick Links Panel -->
	<div class="panel">
		<header class="panel__header">
			<h3 class="panel__title">Regulations</h3>
		</header>
		<div class="panel__content">
			<ul class="quick-links">
				<li class="quick-links__item">
					<a class="quick-links__link" href="#">Regulations I <span class="gsa-icon-arrow-right gsa-icon--sm"></span>
					</a>
				</li>
				<li class="quick-links__item">
					<a class="quick-links__link" href="#">Regulations II <span class="gsa-icon-arrow-right gsa-icon--sm"></span>
					</a>
				</li>
				<li class="quick-links__item">
					<a class="quick-links__link" href="#">Regulations II <span class="gsa-icon-arrow-right gsa-icon--sm"></span>
					</a>
				</li>
			</ul>
		</div>
	</div>

	<!-- Parks Near Me With: -->
	<div class="panel">
		<header class="panel__header">
			<h3 class="panel__title">Upcoming Road Closures</h3>
		</header>
		<div class="panel__content">
			<table class="gsa-table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Distance</th>
						<th>Level of Closure</th>
					</tr>
				</thead>
				<tbody>
					<tr class="gsa-table__row">
						<td><strong>Cary Parkway</strong></td>
						<td>0.2 mi</td>
						<td>Total</td>
					</tr>
					<tr class="gsa-table__row">
						<td><strong>William St.</strong></td>
						<td>3.0 mi</td>
						<td>Partial</td>
					</tr>
					<tr class="gsa-table__row">
						<td><strong>Salem St.</strong></td>
						<td>0.3 mi</td>
						<td>Partial</td>
					</tr>
					<tr class="gsa-table__row">
						<td><strong>Holly Springs Rd.</strong></td>
						<td>6.0 mi</td>
						<td>Partial</td>
					</tr>
					<tr class="gsa-table__row">
						<td><strong>US 1</strong></td>
						<td>0.5 mi</td>
						<td>Partial</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="panel">
		<header>
			<h2 class="panel__title">$ Amount of Construction Planned in Past One Year</h2>
		</header>
		<div class="panel__content panel__content--dark-blue">
			<!-- Census Map -->
			<div id="arcgis-map" class="arcgis-map">

				<div style="text-align: center; padding: 50px 0">[census map placeholder]</div>
				<!--
					colors from design:
					dark blue: #3e63a3
					medium blue: #5986d3
					light blue: #80adfc
				-->
				
			</div>
			<!-- End Census Map-->
		</div>
		<div class="panel__foot text-right">
			<a href="#"><strong>View More Data at data.raleighnc.gov</strong>&nbsp;<span class="gsa-icon-arrow-right gsa-icon--sm gsa-icon--sm"></span></a>
		</div>
	</div>
</div>	