<!doctype html>
<html class="no-js" lang="en">

	<head>
	  <meta charset="utf-8">
	  <meta http-equiv="cleartype" content="on">
	  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	  <!-- SEO Meta Data -->
	  <title>City of Raleigh Widgets</title>
	  
	  <!-- Stylesheets -->
	  <link rel="stylesheet" href="../css/style.css" />
	  
	  
	</head>

	<body>

		    <!-- GSA Widget -->

<style>
	li { margin-bottom: 10px; }
</style>
<div style="padding: 20px;"><h2><strong>City of Raleigh GSA Widgets:</strong></h2>
<ul style="list-style:none">
<li><a href="/styleguide/templates/widget-jobs.html">Jobs</a></li>
<li><a href="/styleguide/templates/widget-park-generic.html">Parks</a></li>
<li><a href="/styleguide/templates/widget-park-specific.html">Park Specific</a></li>
<li><a href="/styleguide/templates/widget-citations.html">Citations</a></li>
<li><a href="/styleguide/templates/widget-construction-permits.html">Costruction Permits</a></li>
</ul>
</div>


</body>
</html>
	