@@include('../inc/head.html')


<div class="gsa-widget">
	<!-- Widget Header -->
	<header class="gsa-widget__header">
		<h2 id="park-name" class="gsa-widget__title">Raleigh Police Department</h2>
		<div class="gsa-widget__location">
			<span class="gsa-icon-location gsa-icon--lrg"></span> 
			<span class="label">Your Location: </span>
			<span id="gsa-widget-current-location">Raleigh, NC</span>
			<button class="button button--text toggle-content" data-target="location-change">
				Change Location <span class="gsa-icon-arrow-right gsa-icon--right gsa-icon--sm"></span>
			</button>
			<div id="location-change" class="gsa-widget__location-change hidden">
				<form action="">
					<div class="field field--append-submit">
						<label for="location-name" class="visuallyhidden">Update Location</label>
						<input id="location-name" type="text" placeholder="Enter Location">
						<button type="submit">Update</button>
					</div>
				</form>
			</div>
		</div>
	</header>




	<!-- Location Info -->
	<div class="panel panel--plain">
		<div class="panel__content location-info">
			<ul>
				<li class="location-info__item location-info__item--police">
					<span class="gsa-icon-phone gsa-icon--xl gsa-icon--circle gsa-icon--dark-blue"></span>
					<h3 class="location-info__title">Non-emergency Police Response</h3>
					<span class="location-info__label">Website:</span>
					<a href="#">raleighnc.gov/parks</a>
				</li>
				<li class="location-info__item location-info__item--police">
					<span class="gsa-icon-phone gsa-icon--xl gsa-icon--circle gsa-icon--dark-blue"></span>
					<h3 class="location-info__title">Non-emergency Police Response</h3>
					<span class="location-info__label">Website:</span>
					<a href="#">raleighnc.gov/parks</a>
				</li>
				<li class="location-info__item location-info__item--police">
					<span class="gsa-icon-mail  gsa-icon--circle gsa-icon--orange"></span>
					<h3 class="location-info__title">Non-emergency Police Response</h3>
					<span class="location-info__label">Website:</span>
					<a href="#">raleighnc.gov/parks</a>
				</li>
			</ul>
		</div>
	</div>





</div>


@@include('../inc/footer.html')
	