.gsa-widget {
    .visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

    .group {
        *zoom: 1;
        &:before,
        &:after {
            display: table;
            content: "";
        }
        &:after {
            clear: both;
        }
    }

    .push-right {
        float: right;
    }

    .pull-left {
        float: left;
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .hidden {
        display: none;
    }

    .no-margin {
        margin: 0;
    }
}